
<div class="row">
    <div class="col-12 vh-100">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Registre des medecins</p><br>
          <button type="button" class="btn btn-primary">Nouveau medecin</button><br>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Spécialité</th>
                  <th>Action</th>
                </tr>  
              </thead>
              <tbody>
                <tr>
                  <td>HOUESSOU</td>
                  <td class="font-weight-bold">Donald</td>
                  <td>Médecin Généraliste</td>
                  <td class="">
                    
                  </td>
                </tr>
                <tr>
                  <td>NAGUEZE</td>
                  <td class="font-weight-bold">Janne</td>
                  <td>Orphtamologue</td>
                  <td class="">
                    
                  </td>
                </tr>
                <tr>
                  <td>ZINSOU</td>
                  <td class="font-weight-bold">Laurent</td>
                  <td>Chirugien</td>
                  <td class="">
                    
                  </td>
                </tr>
                <tr>
                  <td>LOKOSSOU</td>
                  <td class="font-weight-bold">Pierre</td>
                  <td>Dentiste</td>
                  <td class="">
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
