
<div class="row">
    <div class="col-12 vh-100">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Registre des utilisateurs</p><br>
          <button (click)="redirectionNewUsers()" type="button" class="btn btn-primary">Nouvel utilisateur</button><br>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Poste</th>
                  <th>Login</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>  
              </thead>
              <tbody>
                <tr>
                  <td>HOUESSOU</td>
                  <td class="font-weight-bold">Donald</td>
                  <td>Médecin Généraliste</td>
                  <td>admin</td>
                  <td class="font-weight-medium"><div class="badge badge-success">Présent</div></td>
                  <td class="">
                    
                  </td>
                </tr>
                <tr>
                  <td>NAGUEZE</td>
                  <td class="font-weight-bold">Janne</td>
                  <td>Orphtamologue</td>
                  <td>users1</td>
                  <td class="font-weight-medium"><div class="badge badge-success">Présent</div></td>
                  <td class="">
                    
                  </td>
                </tr>
                <tr>
                  <td>ZINSOU</td>
                  <td class="font-weight-bold">Laurent</td>
                  <td>Chirugien</td>
                  <td>users2</td>
                  <td class="font-weight-medium"><div class="badge badge-danger">Absent</div></td>
                  <td class="">
                    
                  </td>
                </tr>
                <tr>
                  <td>LOKOSSOU</td>
                  <td class="font-weight-bold">Pierre</td>
                  <td>Dentiste</td>
                  <td>users3</td>
                  <td class="font-weight-medium"><div class="badge badge-warning">Occupé</div></td>
                  <td class="">  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
